<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Home</title>

</head>

<body>
    <header>
        <nav>
            <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre.svg" width="250">
                <p align="justify">Lugar para poner barra de búsqueda</p>
                <p align="justify">Comprá en cuotas y sin tarjeta de crédito</p>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Crear tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
            <img src="/img/img-home-banner.jpg" alt="img-home-banner.jpg" width="300"></li>
            
        </nav>
        
    </header>
    <main>
       <section></section>
       <section></section>
    </main>
    <footer> </footer>
</body>

</html>