<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Home</title> 
    <script src="https://kit.fontawesome.com/e5b2ab8962.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body class="home">
    <header class="home__header">
        <div class="contenedor_header">
        <div class="home__header__img--logo">
        <img src="/img/logo-mercado-liebre.svg" 
        alt="logo-mercado-liebre.svg" >
        </div>
        <div class="busqueda">
        <input class="home__header__barbusq" type="text" placeholder=" Buscar productos, marcas" >
        <button class="home__header__button--lupa" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
       <div class="subtitulo"><p class="home__header__icon"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito.</p>
       </div>
        </div>    
        <p class="auxiliar"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito.</p>    
        <div class="organizador">
        <nav class="home__header__nav--menu">
        <div class="opciones">
            <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        </div>
        </nav>
        <nav class="home__header__nav--usuario">
        <div class="cuenta">
            <ul>
            <li><a href="">Crear tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        </div>
        </nav>
        </div>
        <div class="home__header__menu-hamburguesa">
            <i class="fas fa-bars"></i>
            </div>
        <div class="home__header__banner">
        <img src="/img/img-home-banner.jpg" alt="img-home-banner.jpg" width="100%">
        </div>
    </header>

    <main class="home__main">
       <section class="home__main__section-ultvisit">
            <h4 class="home__main__section--product-title">Basado en tu última visita</h4>
            <div class="mercaderia">
            <div class="home__main--articulo">
            <img class="home__main__section--product" src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex.jpg" width="320">
            <div class="home__main-caja">
            <div class="home__main-camion"><p><i class="fa-solid fa-truck"></i></p></div>
            <div class="cartel">
            <p class="home__main__section--precio">$6.770</p> 
            <p class="home__main__section--descuento">40% off</p>
            </div>
            <p class="home__main__section--description">Cafetera Moulinex</p>
            </div></div>
            <div class="home__main--articulo">
            <img class="home__main__section--product" src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg" width="320">
            <div class="home__main-caja">
            <div class="home__main-camion"><p><i class="fa-solid fa-truck"></i></p></div>
            <div class="cartel">
            <p class="home__main__section--precio">$230.000</p>
            <p class="home__main__section--descuento">20% off</p>
            </div>
            <p class="home__main__section--description">MacBook Pro 2019</p>
            </div></div>
            <div class="home__main--articulo">
            <img class="home__main__section--product" src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg" width="320">
            <div class="home__main-caja">
            <div class="home__main-camion"><p><i class="fa-solid fa-truck"></i></p></div>
            <div class="cartel">
            <p class="home__main__section--precio">$70.500</p>
            <p class="home__main__section--descuento">10% off</p>
            </div>
            <p class="home__main__section--description">Samsung Galaxy S10</p>
            </div></div>
            <div class="home__main--articulo">
            <img class="home__main__section--product" src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg" width="320">
            <div class="home__main-caja">
            <div class="home__main-camion"><p><i class="fa-solid fa-truck"></i></p></div>
            <div class="cartel">
            <p class="home__main__section--precio">$23.200</p>
            <p class="home__main__section--descuento">5% off</p>
            </div>
            <p class="home__main__section--description">SmartTv Samsung 43"</p>
            </div></div>
            </div>
        </section>
        <section>
            <h4 class="home__main__section--title2">Ofertas</h4>
            <div class="home__main--articulo">
            <img class="home__main__section--product" src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex.jpg" width="320">
            <div class="home__main-caja">
            <div class="home__main-camion"><p><i class="fa-solid fa-truck"></i></p></div>
            <div class="cartel">
            <p class="home__main__section--precio">$6.770</p>
            <p class="home__main__section--descuento">40% OFF</p>
            </div>
            <p class="home__main__section--description">Cafetera Moulinex</p>
            </div></div>
            <div class="home__main--articulo">
            <img class="home__main__section--product" src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg" width="320">
            <div class="home__main-caja">
            <div class="home__main-camion"><p><i class="fa-solid fa-truck"></i></p></div>
            <div class="cartel">
            <p class="home__main__section--precio">$230.000</p>
            <p class="home__main__section--descuento">20% off</p>
            </div>
            <p class="home__main__section--description">MacBook Pro 2019</p>
            </div></div>
            <div class="home__main--articulo">
            <img class="home__main__section--product" src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg" width="320">
            <div class="home__main-caja">
            <div class="home__main-camion"><p><i class="fa-solid fa-truck"></i></p></div>
            <div class="cartel">
            <p class="home__main__section--precio">$70.500</p>
            <p class="home__main__section--descuento">10% off</p>
            </div>
            <p class="home__main__section--description">Samsung Galaxy S10</p>
            </div></div>
            <div class="home__main--articulo">
            <img class="home__main__section--product" src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg" width="320">
            <div class="home__main-caja">
            <div class="home__main-camion"><p><i class="fa-solid fa-truck"></i></p></div>
            <div class="cartel">
            <p class="home__main__section--precio">$23.200</p>
            <p class="home__main__section--descuento">5% off</p>
            </div>
            <p class="home__main__section--description">SmartTv Samsung 43"</p>
            </div></div>
        </section>
    </main>
    <footer class="home__footer"> 
        <section>
            <ul class="home__footer-beneficios">
                <li class="home__footer__icon"><i class="fa-solid fa-credit-card"></i></li>
                <li><h4>Pagá con tarjeta o en efectivo</h4></li>
                <li><p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p></li>
            </ul>
        </section>
        <section>
            <ul class="home__footer-beneficios">
                <li class="home__footer__icon"><i class="fa-solid fa-gift"></i></li>
                <li><h4>Envío gratis desde $ 2.500</h4></li>
                <li><p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.Es un beneficio de Mercado Puntos.</p></li>
            </ul>
        </section>
        <section>
            <ul class="home__footer-beneficios">
                <li class="home__footer__icon"><i class="fa-solid fa-user-shield"></i></li>
                <li><h4>Seguridad de principio a fin</h4></li>
                <li><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p></li>
            </ul>
        </section>
        <section>
            <ul class="home__footer-beneficios">
                <li class="home__footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
            </ul>
        </section>
    </footer>
</body>

</html>