<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Login</title> 
    <script src="https://kit.fontawesome.com/e5b2ab8962.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body class="home">
    <header class="home__header">
        <div class="contenedor_header">
        <div class="home__header__img--logo">
        <img src="/img/logo-mercado-liebre.svg" 
        alt="logo-mercado-liebre.svg" >
        </div>
        <div class="busqueda">
        <input class="home__header__barbusq" type="text" placeholder=" Buscar productos, marcas" >
        <button class="home__header__button--lupa" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
       <div class="subtitulo"><p class="home__header__icon"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito.</p>
       </div>
        </div>    
        <p class="auxiliar"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito.</p>    
        <div class="organizador">
        <nav class="home__header__nav--menu">
        <div class="opciones">
            <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        </div>
        </nav>
        <nav class="home__header__nav--usuario">
        <div class="cuenta">
            <ul>
            <li><a href="">Crear tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        </div>
        </nav>
        </div>
       
    </header>

    <main class="home__main">
            <section class="login"> 
                <h4>Login</h4>
                <div class="control" >
                <input type="text" name="usuario" value="" placeholder="USUARIO">
                <input type="password"name="contraseña" value="" placeholder="CONTRASEÑA">
                </div>
                <div class="olvidaste">
                <label for="olvidaste">¿OLVIDASTE TU CONTRASEÑA?</label>
                <input type="checkbox " name="olvidaste">
                </div>
                <div class="boton">
                <input type="submit" name="" value="INGRESAR">
                </div>
                <div class="terminos">
                <label for="terminos">Términos y condiciones</label>
                <input type="checkbox " name="terminos">
                </div>
            </section> 
    </main>
    <footer class="home__footer"> 
        <section>
            <ul class="home__footer-beneficios">
                <li class="home__footer__icon"><i class="fa-solid fa-credit-card"></i></li>
                <li><h4>Pagá con tarjeta o en efectivo</h4></li>
                <li><p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p></li>
            </ul>
        </section>
        <section>
            <ul class="home__footer-beneficios">
                <li class="home__footer__icon"><i class="fa-solid fa-gift"></i></li>
                <li><h4>Envío gratis desde $ 2.500</h4></li>
                <li><p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.Es un beneficio de Mercado Puntos.</p></li>
            </ul>
        </section>
        <section>
            <ul class="home__footer-beneficios">
                <li class="home__footer__icon"><i class="fa-solid fa-user-shield"></i></li>
                <li><h4>Seguridad de principio a fin</h4></li>
                <li><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p></li>
            </ul>
        </section>
        <section>
            <ul class="home__footer-beneficios">
                <li class="home__footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
            </ul>
        </section>
    </footer>
</body>

</html>