:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorGrisIntermedio:#B2BABB;
    --colorVerde: #07C850;
    --colorNegro:black;
    --colorBlanco:#ffff;

    --tipografiaGeneral: 'Roboto', sans-serif;
}

*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

body {
    background-color: var(--colorGrisClaro);
    font-family: var(--tipografiaGeneral);
    max-width: 1180px;
}
main {
    background-color: var(--colorBlanco);
}

header {
    background-color: #EAC926;
}
li{
    list-style: none;
}