:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --colorNegro:black;
    --tipografiaGeneral: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    border: 0;
}

body {
    font-family: var(--tipografiaGeneral);
    max-width: 1180px;
}
header {
    background-color: #EAC926;
}
li{
    list-style: none;
}