/*HEADER*/

.home__header__img--logo{
    padding: 20px; 
    margin: 0 0 15px;
    width: 180px;
    }
.home__header__img--logo img {
    width: 100%;
    }
.home__header__barbusq {
    margin: 0 0 0 20px;}
.home__header__icon {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 20px; 
    text-align: center;
    }
.home__header__nav--menu ul {
    display: block;
    padding:0 20px;
    border:0;
    margin:0;
    }
.home__header__nav--menu ul li a{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color:var(--colorNegro);
    }
.home__header__nav--usuario ul {
    display: block;
    padding: 0 20px;
    margin: 0;
    border: 0;
    }
.home__header__nav--usuario ul li a {
    font-size: 12px;
    width: 100%;
    text-decoration: none;
    color:var(--colorNegro);
    }
.home__header__menu-hamburguesa {
    color: var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    margin: 20px auto 15px;
    font-size:1.5rem;
    border-radius: 5px
    }
.home__header__menu-hamburguesa i{
    margin: 7.7px; 
    text-align: center; 
    }
.home__header__banner {
  margin-top: 20px;
  width: auto;
  height: 50%;
  font-size: 0;
    }

/*MAIN*/
.home__main {
    margin-left: 15px;
    margin-right: 15px;
}

.home__main__section--product-title {
    font-size: 24px;
    width: 100%;
    height: 100%;
    margin: 15px 0;
    display: block;
    color: var(--colorGrisOscuro);
    }
    .home__main--articulo {
        margin-bottom: 10px;
    }
.home__main__section--product {
    margin: 0;
    padding: 0;
    border: 0;
    }
.home__main p {
    margin: 0;
    padding: 0;
    border: 0;
}
.home__main-camion {
    color: var(--colorVerde);
    font-size: 18px;
    width:40px;
    height:40px;
    margin: 20px auto 15px;
    display: block;
    background-color: var(--colorBlanco);
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
}
.home__main-camion p{
    text-align: left;
    margin: 5px 0 0 5px;
}
.home__main__section--precio {
    font-size: 18px;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
    }
.home__main__section--descuento {
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
    }
.home__main__section--description {
    font-size: 16px;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    display: block;
    margin-bottom: 10px;
    }
.home__main__section--product {
    width: 100%;
    }
.home__main__section--title2 {
    font-size: 24px;
    width: 100%;
    height: 100%;
    margin:15px 0;
    display: block;
    color: var(--colorGrisOscuro);
    }

/*FOOTER*/
.home__footer {
    margin-top: 10px;
}
.home__footer h4 {
    color: var(--colorGrisOscuro);
    font-size: 18px;
    font-style: normal;
    text-align: center;
    }
.home__footer p {
    color: var(--colorGrisIntermedio);
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    }
.home__footer__icon {
    text-align: center;
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
    }
.home__footer-copyright {
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    font-style: oblique;
    color: var(--colorGrisIntermedio);
    margin-top: 30px
    
    }

@media (min-width:320px){

    /*HEADER*/

.home__header__img--logo{
    padding: 20px; 
    margin: 0 0 15px;
    width: 180px;
    }
.home__header__img--logo img {
    width: 100%;
    }
.home__header__barbusq {
    margin: 0 0 0 20px;
    }
.home__header__icon {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 20px; 
    text-align: center;
    }
.home__header__nav--menu ul {
    display: none;
    padding:0px 20px;
    border:0;
    margin:0;
    }
.home__header__nav--menu ul li a{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color:var(--colorNegro);
    }
.home__header__nav--usuario ul {
    display: none;
    padding: 0 20px;
    margin: 0;
    border: 0;
    }
.home__header__nav--usuario ul li a {
    font-size: 12px;
    width: 100%;
    text-decoration: none;
    color:var(--colorNegro);
    }
.home__header__menu-hamburguesa {
    text-align: center;
    color: var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    width: 40px;
    height: 40px;
    display: block;
    font-size:1.5rem;
    border-radius: 5px
    }
.home__header__menu-hamburguesa i{
    text-align: center;
    margin: 7.7px;
    }
.home__header__banner {
    width: auto;
    height: 50%;
    font-size: 0;
    }

/*MAIN*/
.home__main {
    margin-left: 15px;
    margin-right: 15px;
}
.home__main__section--product-title {
    font-size: 24px;
    margin:15px 0;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--colorGrisOscuro);
    }
    .home__main--articulo {
        margin-bottom: 10px;
    }
.home__main__section--product {
    margin: 0;
    padding: 0;
    border: 0;
    }
.home__main p {
    margin: 0;
    padding: 0;
    border: 0;
}
.home__main-camion {
    color: var(--colorVerde);
    font-size: 18px;
    width:40px;
    height:40px;
    margin: 20px auto 15px;
    display: block;
    background-color: var(--colorBlanco);
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
}
.home__main-camion p{
    text-align: left;
    margin: 5px 0 0 5px;
}
.home__main__section--descuento {
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
    }
.home__main__section--description {
    font-size: 16px;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    display: block;
    margin-bottom: 10px;
    }
.home__main__section--title2 {
    font-size: 24px;
    margin:15px 0;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--colorGrisOscuro);
    }

    /*FOOTER*/
    .home__footer {
        margin-top: 10px;
    }
.home__footer-beneficios {
    margin: 0;
    padding: 0;
    }
.home__footer-beneficios p {
    text-align: center;
    margin: 0px 10px 0px;
    }
.home__footer h4 {
    color: var(--colorGrisOscuro);
    font-size: 18px;
    font-style: normal;
    text-align: center;
    }
.home__footer p {
    color: var(--colorGrisIntermedio);
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    }
.home__footer__icon {
    text-align: center;
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
    }
.home__footer-copyright {
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    font-style: oblique;
    color: var(--colorGrisIntermedio);
    margin-top: 30px
    }
}

@media (min-width:361px){
    
    /*HEADER*/

.home__header__img--logo{
    padding: 20px; 
    margin: 0 0 15px;
    width: 180px;
    }
.home__header__img--logo img {
    width: 100%;
    }
.home__header__barbusq {
    margin: 0 0 0 20px;
    }
.home__header__icon {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 20px; 
    text-align: center;
    }
.home__header__nav--menu ul {
    display: block;
    padding:0px 20px;
    border:0;
    margin:0;
    }
.home__header__nav--menu ul li a{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color:var(--colorNegro);
    }
.home__header__nav--usuario ul {
    display: block;
    padding: 0 20px;
    margin: 0;
    border: 0;
    }
.home__header__nav--usuario ul li a {
    font-size: 12px;
    width: 100%;
    text-decoration: none;
    color:var(--colorNegro);
    }
.home__header__menu-hamburguesa {
    color: var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    width: 40px;
    height: 40px;
    text-align: center;
    display: none;
    margin: 20px auto 15px;
    font-size:1.5rem;
    border-radius: 5px
    }
.home__header__menu-hamburguesa i{
    margin: 7.7px;
    text-align: center;
    }
.home__header__banner {
    margin-top: 20px;
    width: auto;
    height: 50%;
    font-size: 0;
    }

/*MAIN*/
.home__main {
    margin-left: 15px;
    margin-right: 15px;
}
.home__main__section--product-title {
    font-size: 24px;
    width: 100%;
    height: 100%;
    margin: 15px 0;
    display: block;
    color: var(--colorGrisOscuro);
    }
    .home__main--articulo {
        margin-bottom: 10px;
    }
.home__main__section--product {
    margin: 0;
    padding: 0;
    border: 0;
    }
.home__main p {
    margin: 0;
    padding: 0;
    border: 0;
}
.home__main-camion {
    color: var(--colorVerde);
    font-size: 18px;
    width:40px;
    height:40px;
    margin: 20px auto 15px;
    display: block;
    background-color: var(--colorBlanco);
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
}
.home__main-camion p{
    text-align: left;
    margin: 5px 0 0 5px;
}
.home__main__section--precio {
    font-size: 18px;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
    }
.home__main__section--descuento {
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
    }
.home__main__section--description {
    font-size: 16px;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    display: block;
    margin-bottom: 10px;
    }
.home__main__section--product {
    width: 100%;
    }
.home__main__section--title2 {
    font-size: 24px;
    width: 100%;
    height: 100%;
    margin:15px 0;
    display: block;
    color: var(--colorGrisOscuro);
    }

/*FOOTER*/
 .home__footer {
        margin-top: 10px;
    }
.home__footer h4 {
    color: var(--colorGrisOscuro);
    font-size: 18px;
    font-style: normal;
    text-align: center;
    }
.home__footer p {
    color: var(--colorGrisIntermedio);
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    }
.home__footer__icon {
    text-align: center;
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
    }
   
    .home__footer-copyright {
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    font-style: oblique;
    color: var(--colorGrisIntermedio);
    margin-top: 30px
    }
}

@media (min-width:769px){
    
    /*HEADER*/

    .home__header__img--logo{
        padding: 20px; 
        margin: 0 0 15px;
        width: 180px;
    }
    .home__header__img--logo img {
        width: 100%;
    }
    .home__header__barbusq {
        margin: 0 0 0 20px;}
    .home__header__icon {
        font-size: 16px;
        margin-bottom: 15px;
        padding: 20px; 
        text-align: center;
    }
    .home__header__nav--menu ul {
        display: block;
        padding:0 20px;
        border:0;
        margin:0;
    }
    .home__header__nav--menu ul li a{
        font-size: 12px;
        text-decoration: none;
        width: 100%;
        color:var(--colorNegro);
    }
    .home__header__nav--usuario ul {
        display: block;
        padding: 0 20px;
        margin: 0;
        border: 0;
    }
    .home__header__nav--usuario ul li a {
        font-size: 12px;
        width: 100%;
        text-decoration: none;
        color:var(--colorNegro);
    }
    .home__header__menu-hamburguesa {
        color: var(--colorGrisClaro);
        background-color: var(--colorCeleste);
        width: 40px;
        height: 40px;
        text-align: center;
        display: none;
        margin: 20px auto 15px;
        font-size:1.5rem;
        border-radius: 5px
    }
    .home__header__menu-hamburguesa i{
        margin: 7.7px;
        text-align: center;
    }
    .home__header__banner {
        margin-top: 20px;
        width: auto;
        height: 50%;
        font-size: 0;
    }

    /*MAIN*/
    .home__main {
        margin-left: 15px;
        margin-right: 15px;
    }
    .home__main__section--product-title {
        font-size: 24px;
        width: 100%;
        height: 100%;
        margin: 15px 0;
        display: block;
        color: var(--colorGrisOscuro);
    }
    .home__main--articulo {
        margin-bottom: 10px;
    }
    .home__main__section--product {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .home__main p {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .home__main-camion {
        color: var(--colorVerde);
        font-size: 18px;
        width:40px;
        height:40px;
        margin: 20px auto 15px;
        display: block;
        background-color: var(--colorBlanco);
        border-radius: 50%;
        border: 1px solid var(--colorVerde);
    }
    .home__main-camion p{
        text-align: left;
        margin: 5px 0 0 5px;
    }
    .home__main__section--precio {
        font-size: 18px;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
        display: block;
    }
    .home__main__section--descuento {
        font-size: 16px;
        width: 100%;
        height: 100%;
        display: block;
    }
    .home__main__section--description {
        font-size: 16px;
        width: 100%;
        height: 100%;
        border-radius: 0 0 10px 10px;
        display: block;
        margin-bottom: 10px;
    }
    .home__main__section--product {
        width: 100%;
    }
    .home__main__section--title2 {
        font-size: 24px;
        width: 100%;
        height: 100%;
        margin:15px 0;
        display: block;
        color: var(--colorGrisOscuro);
    }

    /*FOOTER*/
    .home__footer {
        margin-top: 10px;
    }
    .home__footer h4 {
        color: var(--colorGrisOscuro);
        font-size: 18px;
        font-style: normal;
        text-align: center;
    }
    .home__footer p {
        color: var(--colorGrisIntermedio);
        font-size: 16px;
        font-style: italic;
        text-align: center;
        margin-bottom: 10px;
    }
    .home__footer__icon {
        text-align: center;
        font-size: 2em;
        color: var(--colorCeleste);
        margin-bottom: 10px;
    
    }
    .home__footer-copyright {
        margin-bottom: 10px;
        text-align: left;
        font-size: 12px;
        font-style: oblique;
        color: var(--colorGrisIntermedio);
        margin-top: 30px
    }
}
