@media (min-width:320px){

    /*HEADER*/
    
.contenedor_header {
    padding-top: 20px;
    display: flex;
    flex-direction:row ;
    justify-content:center;
    gap:initial;
}
.busqueda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    height: 100%;
}
.home__header__button--lupa{
    height: 30px;
    width: 30px;
    background-color: var(--colorBlanco);
    border-style: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: var(--colorGrisIntermedio);
    margin-right: 10px;
    margin-top: 4px;
}

.home__header__barbusq {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-style: none;
    height: 30px;
    margin: 4px;
    margin-right: 0;
    display: flex;
}
.home__header__img--logo{
    display: block;
    padding: 4px;
    width: 100%;
}
.subtitulo {
    display: none;
    align-self:center;    
}
.home__header__icon {
    font-size: 10px;
    margin: 0;
    padding-left: 5px;
    text-align: center;
}
.auxiliar {
    font-size: 14px;
    text-align: center;
    padding:20px;
}

.home__header__nav--menu ul {
    display: none;
    padding:0px 20px;
    border:0;
    margin:0;
    }
.home__header__nav--menu ul li a{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color:var(--colorNegro);
    }
.home__header__nav--usuario ul {
    display: none;
    padding: 0 20px;
    margin: 0;
    border: 0;
    }
.home__header__nav--usuario ul li a {
    font-size: 12px;
    width: 100%;
    text-decoration: none;
    color:var(--colorNegro);
    }
.home__header__menu-hamburguesa {
    text-align: center;
    color: var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    width: 40px;
    margin: 20px auto 15px;
    height: 40px;
    display: block;
    font-size:1.5rem;
    border-radius: 5px
    }
.home__header__menu-hamburguesa i{
    text-align: center;
    margin: 7.7px;
    }
.home__header__banner {
    width: auto;
    height: 100%;
    font-size: 0;
    }

/*MAIN*/
.home__main {
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--colorBlanco);
}
.home__main__section--product-title {
    font-size: 24px;
    margin:15px 0;
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 10px;
    background-color: var(--colorGrisClaro);
    color: var(--colorGrisOscuro);
    }
    .home__main--articulo {
        margin-bottom: 0;
    }
    .home__main--articulo:hover {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        }
.home__main__section--product {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    }
.home__main p {
    margin: 0;
    padding: 0;
    border: 0;
}
.home__main-caja {
    box-sizing: border-box; 
    width: 100%;
    background-color: var(--colorBlanco);
    border-top: solid var(--colorGrisClaro) 1px;
    border-bottom: solid var(--colorGrisClaro) 10px;    
}
  .cartel {
    display: flex;
    flex-direction: row;
    align-items: end;
    }
  .cartel .home__main__section--precio {
    width: 30%;
    margin-left: 20px;
  }
  .cartel .home__main__section--descuento {
    width: 70%;
    font-size: 16px;
  }
    .home__main-caja .home__main__section--description {
        margin: 10px 0 0 20px ;
        padding-bottom: 10px;
    }
    .home__main-camion {
        color: var(--colorVerde);
        font-size: 18px;
        width: 40px;;
        height:40px;
        margin-left: 20px;
        box-sizing: content-box;
        display: block;
        padding: 0;
        border-top: solid var(--colorGrisClaro) 1px;
        background-color: var(--colorBlanco);
        border-radius: 50%;
        border: 1px solid var(--colorVerde);
    }
    .home__main-camion:hover {
        animation: willy 2s ease;
    }
    @keyframes willy {
        0%{
            transform: rotate(0deg);
        }
        50%{
            transform: rotate(-90deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
.home__main-camion p{
    text-align: center;
    margin: 8px 0 0 0px;
}
.home__main__section--precio {
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--colorNegro);
}
.home__main__section--descuento {
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--colorVerde);
    }
.home__main__section--description {
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--colorGrisIntermedio);
    }
.home__main__section--title2 {
    font-size: 24px;
    margin: 0;
    width: 100%;
    background-color: var(--colorGrisClaro);
    height: 100%;
    padding: 10px;
    display: block;
    color: var(--colorGrisOscuro);
    }

    /*FOOTER*/
    .home__footer {
        margin-top: 10px;
    }
.home__footer-beneficios {
    margin: 0;
    padding: 0;
    }
.home__footer-beneficios p {
    text-align: center;
    margin: 0px 10px 0px;
    }
.home__footer h4 {
    color: var(--colorGrisOscuro);
    font-size: 18px;
    font-style: normal;
    text-align: center;
    }
.home__footer p {
    color: var(--colorGrisIntermedio);
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    }
.home__footer__icon {
    text-align: center;
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
    }
.home__footer-copyright {
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
    font-size: 12px;
    font-style: oblique;
    color: var(--colorGrisIntermedio);
    margin-top: 30px
    }
}

@media (min-width:768px){
    
    /*HEADER*/

    .contenedor_header {
        padding-top: 20px;
        display: flex;
        flex-direction:row ;
        justify-content:space-around;
        padding-bottom: 20px;
    }
    .busqueda {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        height: 100%;
    }
    .home__header__button--lupa{
        height: 30px;
        width: 30px;
        background-color: var(--colorBlanco);
        border-style: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: var(--colorGrisIntermedio);
        margin-right:5px;
        margin-bottom: 4px;

    }
    .home__header__barbusq {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-style: none;
        height: 30px;
        margin: 4px;
        padding: 0;
        margin-right: 0;
    }

    .home__header__img--logo{
        display: flex;
    padding: 4px;
    width: 75%;

    }
    .subtitulo {
        display: flex;
        align-self: center;
    }
    .home__header__icon {
        font-size: 10px;
        margin: 0;
        padding-left: 5px;
        text-align: center;
    }
    .auxiliar {
        display: none;
        font-size: 14px;
        text-align: center;
        padding:20px;
    }
    .organizador{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .home__header__nav--menu ul {
        display: flex;
        padding:0;
        border:0;
        margin:0;
        justify-content: space-around;
    }
    .home__header__nav--menu ul li a{
        font-size: 14px;
        text-decoration: none;
        width: 100%;
        color:var(--colorNegro);
        padding-left: 10px;
    }
    .home__header__nav--usuario ul {
        display: flex;
        padding: 0;
        margin: 0;
        border: 0;
        justify-content: space-around;
    }
    .home__header__nav--usuario ul li a {
        font-size: 14px;
        width: 100%;
        text-decoration: none;
        padding-left: 10px;
        color:var(--colorNegro);
    }
    .home__header__menu-hamburguesa {
        color: var(--colorGrisClaro);
        background-color: var(--colorCeleste);
        width: 40px;
        height: 40px;
        text-align: center;
        display: none;
        margin: 20px auto 15px;
        font-size:1.5rem;
        border-radius: 5px
    }
    .home__header__menu-hamburguesa i{
        margin: 7.7px;
        text-align: center;
    }
    .home__header__banner {
        margin-top: 20px;
        width: auto;
        height: 50%;
        font-size: 0;
    }

    /*MAIN*/
    .home__main {
        margin-left: 15px;
        margin-right: 15px;
        
    }
    .home__main__section--product-title {
        font-size: 24px;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0;
        display: block;
        background: var(--colorGrisClaro);
        color: var(--colorGrisOscuro);
    }
    .mercaderia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 2px;
        width: 100%;
    }
    .home__main--articulo {
    width: 33%;  
    padding: 0;
    border: 0;
    }
    .home__main--articulo:hover {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        }
    .home__main-caja .home__main__section--description {
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: all 1s ease;
    }
    .home__main--articulo:hover .home__main__section--description {
        height: 25px;
    }
    .home__main__section--product {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    }
    .home__main p {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .home__main-caja {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--colorBlanco);
    border-top: solid var(--colorGrisClaro) 1px;
    }
    .cartel {
        display: flex;
        flex-direction: row;
        align-items: end;
        }
      .cartel .home__main__section--precio {
        width: 30%;
        margin-left: 20px;
      }
      .cartel .home__main__section--descuento {
        width: 70%;
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .home__main-camion {
        color: var(--colorVerde);
        font-size: 18px;
        width: 40px;;
        height:40px;
        margin-left: 200px;
        margin-bottom: 0;
        box-sizing: content-box;
        display: block;
        padding: 0;
        background-color: var(--colorBlanco);
        border-radius: 50%;
        border: 1px solid var(--colorVerde);
    }
    .home__main-camion:hover {
        animation: willy 2s ease;
    }
    @keyframes willy {
        0%{
            transform: rotate(0deg);
        }
        50%{
            transform: rotate(-90deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    .home__main-camion p{
    text-align: center;
    margin: 8px 0 0 0px;
    }
    .home__main__section--precio {
        font-size: 18px;
        width: 100%;
        height: 100%;
        display: block;
        color: var(--colorNegro);
    }
    .home__main__section--descuento {
        font-size: 16px;
        width: 100%;
        height: 100%;
        display: block;
        color: var(--colorVerde);
    }
    .home__main__section--description {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: var(--colorGrisIntermedio);
    }
    .home__main__section--title2 {
        font-size: 24px;
        width: 100%;
        height: 100%;
        display: block;
        padding: 5px;
        margin: 0;
        background-color: var(--colorGrisClaro);
        color: var(--colorGrisOscuro);
    }
    .ofertas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 2px;
        width: 100%;
    }

    /*FOOTER*/
    .home__footer {
        margin-top: 10px;
    }
    .home__footer h4 {
        color: var(--colorGrisOscuro);
        font-size: 18px;
        font-style: normal;
        text-align: center;
    }
    .home__footer p {
        color: var(--colorGrisIntermedio);
        font-size: 16px;
        font-style: italic;
        text-align: center;
        margin-bottom: 10px;
    }
    .home__footer__icon {
        text-align: center;
        font-size: 2em;
        color: var(--colorCeleste);
        margin-bottom: 10px;
    }
    .home__footer-copyright {
        margin-bottom: 10px;
        margin-left: 10px;
        text-align: left;
        font-size: 12px;
        font-style: oblique;
        color: var(--colorGrisIntermedio);
        margin-top: 30px
    }

@media (min-width:1024px){
    
 /*HEADER*/

 .contenedor_header {
    padding-top: 20px;
    display: flex;
    flex-direction:row ;
    justify-content:space-around;
    padding-bottom: 20px;
}
.busqueda {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-self: center;
    height: 100%;
}
.home__header__button--lupa{
    height: 30px;
    background-color: var(--colorBlanco);
    border-style: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: var(--colorGrisIntermedio);
    margin-right: 10px;

}
.home__header__barbusq {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-style: none;
    height: 30px;
    margin: 4px;
    margin-right: 0;
    display: flex;
}

.home__header__img--logo{
    width: 40%;
    padding: 4px;
    display: flex;
}
.subtitulo {
    display: flex;
    align-self: center;
}
.home__header__icon {
    font-size: 18px;
    margin-right: 5px;
    padding: 0;
    text-align: center;
}
.auxiliar {
    display: none;
    font-size: 14px;
    text-align: center;
    padding:20px;
}
.organizador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home__header__nav--menu ul {
    display: flex;
    padding:0;
    border:0;
    margin:0;
    justify-content: space-around;
}
.home__header__nav--menu ul li a{
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    color:var(--colorNegro);
    padding-left: 20px;
}
.home__header__nav--usuario ul {
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
    justify-content: space-around;
}
.home__header__nav--usuario ul li a {
    font-size: 16px;
    width: 100%;
    text-decoration: none;
    padding-left: 20px;
    color:var(--colorNegro);
}
.home__header__menu-hamburguesa {
    color: var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    width: 40px;
    height: 40px;
    text-align: center;
    display: none;
    margin: 20px auto 15px;
    font-size:1.5rem;
    border-radius: 5px
}
.home__header__menu-hamburguesa i{
    margin: 7.7px;
    text-align: center;
}
.home__header__banner {
    margin-top: 20px;
    width: auto;
    height: 50%;
    font-size: 0;
}

/*MAIN*/
.home__main {
    margin: 15px auto 15px;
}

.home__main__section--product-title {
    font-size: 24px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    display: block;
    background: var(--colorGrisClaro);
    color: var(--colorGrisOscuro);
}
.mercaderia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2px;
    width: 100%;
}
.home__main--articulo {
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
padding: 0;
border: 0;
width: 20%;
}
.home__main-caja .home__main__section--description {
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 1s ease;
}
.home__main--articulo:hover .home__main__section--description {
    height: 25px;
}
.home__main__section--product {
margin: 0;
padding:0px ;
border: 0;
width: 100%;
}
.home__main p {
    margin: 0;
    padding: 0;
    border: 0;
}
.home__main-caja {
box-sizing: border-box; 
width: 100%;
margin: 0;
padding: 0;
border: 0;
background-color: var(--colorBlanco);
border-top: solid var(--colorGrisClaro) 1px;
}
.cartel {
    display: flex;
    flex-direction: row;
    }
  .cartel .home__main__section--precio {
    width: 30%;
    margin-left: 10px;
    font-size: 20px;
  }
  .cartel .home__main__section--descuento {
    width: 70%;
    margin-left: 35px;
    font-size: 18px;
  }
.home__main-caja .home__main__section--description {
    border: 0;
    font-size: 18px;
}
.home__main-camion {
    color: var(--colorVerde);
    font-size: 18px;
    width: 40px;;
    height:40px;
    margin-left: 160px;
    box-sizing: content-box;
    padding: 0;
    background-color: var(--colorBlanco);
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
}
.home__main-camion:hover {
    animation: willy 2s ease;
}
@keyframes willy {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.home__main-camion p{
    text-align: center;
    margin: 8px 0 0 0px;
}
.home__main__section--precio {
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--colorNegro);
}
.home__main__section--descuento {
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--colorVerde);
}
.home__main__section--description {
    font-size: 18px;
    width: 100%;
    height: 100%;
    color: var(--colorGrisIntermedio);
}
.home__main__section--title2 {
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
    margin: 0;
    background-color: var(--colorGrisClaro);
    color: var(--colorGrisOscuro);
}
.ofertas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2px;
    width: 100%;
}
/*FOOTER*/
.home__footer {
    margin-top: 10px;
}
.home__footer h4 {
    color: var(--colorGrisOscuro);
    font-size: 20px;
    font-style: normal;
    text-align: center;
}
.home__footer p {
    color: var(--colorGrisIntermedio);
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}
.home__footer__icon {
    text-align: center;
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;

}
.home__footer-copyright {
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
    font-size: 14px;
    font-style: oblique;
    color: var(--colorGrisIntermedio);
    margin-top: 30px
}
}
