.formulario-login {
    text-align: center;
    background-color: var(--colorGrisIntermedio);
}
.formulario-login h4{
    margin: 15px;
    font-size: 25px;
    color:white;
}
.boton{
    margin-top: 8px;
    border-radius: 5px;
}
.boton input {
    width: 33%;
    margin: 10px;
    font-size: 15px;
    color: var(--colorBlanco);
    padding: 8px;
    border-radius: 5px;
    background-color: var(--colorCeleste);
}

.olvide p a{
    color:var(--colorCeleste);
    text-decoration: none; 
    font-size: 18px;
}
.olvide p{
    margin-top: 5px;
}

@media(min-width: 768px){

.formulario-login h4 {
    font-size: 30px;
}
.boton input{
    width: 23%;
} 
.olvide p a{
    font-size: 20px;
}
}
@media(min-width: 1024px){ 
.formulario-login h4 {
        font-size: 40px;
    }
    .boton input{
        width: 23.4%;
        font-size: 20px;
    }
.olvide{
    font-size: 22px;
}
}





       