.formulario-registro {
    text-align: center;
    background-color: var(--colorGrisIntermedio);
}
.formulario-registro h4{
    margin: 15px;
    font-size: 25px;
    color:white;
}
.nomyape{ 
    text-align: center;
    font-size: 15px;
    padding: 10px;

}
.nomyape input{
font-size: 15px;
width: 80%;
border-radius: 5px;
padding: 8px;
}
.nombreusu{ 
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
.nombreusu input{
font-size: 15px;
width: 80%;
border-radius: 5px;
padding: 8px;
}
.email{ 
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
.email input{
font-size: 15px;
width: 80%;
border-radius: 5px; 
padding: 8px;       
}
.contraseña{ 
    text-align: center;
    font-size: 15px;
    padding: 10px;
}    
.contraseña input{
    font-size: 15px;
    width:80%;
    border-radius:5px;
    padding: 8px;
} 
.confirmar-contraseña{
    text-align: center;
    font-size: 15px;
    padding:10px
}   
.confirmar-contraseña input{
font-size: 15px;
width: 80%;
border-radius: 5px;
padding: 8px;
}

fieldset legend{
    margin: 20px;
    text-align: left;
}
.venta {
    text-align: left;
    font-style: normal;
    padding: 3px;
    margin-left: 10px;
}
.compra {
    text-align: left;
    font-style: normal;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.electro {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
.moda {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
.hogar {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
.jugueteria {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
.sana {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
.terminos2 {
    font-size: 14px;
    margin-top: 20px;
}
.boton2{
    margin-top: 8px;
    border-radius: 5px;
}
.boton2 input {
    width: 40%;
    margin: 10px;
    font-size: 15px;
    color: var(--colorBlanco);
    padding: 8px;
    border-radius: 5px;
    background-color: var(--colorCeleste);
}
.cuenta p a{
    color:var(--colorCeleste);
    text-decoration: none; 
    font-size: 18px;
}
.cuenta p{
    margin-top: 5px;
}

@media(min-width: 768px){

.formulario-registro h4 {
    font-size: 30px;
}
.nomyape input{
    font-size: 15px;
    width: 50%;
}
.nombreusu input{
    font-size: 15px;
    width: 50%;
    padding: 8px;
}    
.email input{
    font-size: 15px;
    width: 50%;
    padding:8px;
}
.contraseña input{
    font-size: 15px;
    width: 50%;
    padding:8px;
}
.confirmar-contraseña input{
    font-size: 15px;
    width: 50%;
    padding:8px;
}
.boton2 input{
    width: 15%;
} 
.terminos2 label{
    font-size: 15px;
} 
.terminos2 input{
    width: 13px;
    height: 13px;
}  
.cuenta p a{
    font-size: 20px;
}
}
@media(min-width: 1024px){ 
.formulario-registro h4 {
        font-size: 40px;
    }
.nomyape input{
    font-size: 18px;
} 
.nombreusu input{
    font-size: 18px;
}
.email input{
    font-size: 18px;
}
.contraseña input{
    font-size: 18px;
}
.confirmar-contraseña input{
    font-size: 18px;
}
fieldset legend{
    margin: 20px;
    text-align: left;
    font-size: 20px;
}
.venta {
    text-align: left;
    font-style: normal;
    padding: 3px;
    margin-left: 10px;
    font-size: 20px;
}
.compra {
    text-align: left;
    font-style: normal;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.electro {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
.moda {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
.hogar {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
.jugueteria {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
.sana {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
.terminos2 label{
    font-size: 20px;
}
.boton2 input{
    width: 15%;
    font-size: 20px;
}
.cuenta{
    font-size: 22px;
}
}





       